__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/
htmlcov/
.coverage
.coverage.*
pip-wheel-metadata/
dist/
build/
site/
scripts/__pycache__/
